body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
}

.register-link {
    display: inline-block;
    margin-top: 0;
    color: #1C82DF;
    text-decoration: none;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.register-link:hover {
    text-decoration: underline;
}

.term-register {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 5px;
}

.term-register a {
    margin-left: 10px;
    color: #5F666C;
    text-decoration: underline;
}

.conta-register-container {
    display: flex;
    background-color: #ffffff;
    padding: 4.25rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    max-width: 700px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.conta-success-container {
    display: none;
    padding: 3.25rem;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    min-height: 100vh;
    justify-content: center;
    max-width: 700px;
}

.form-control,
.register-button {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width : 768px) {

    .conta-register-container,
    .conta-success-container {
        padding: 0 1rem !important;
    }

    .conta-register-section {
        margin: 60px 0px;
    }

    .logo {
        margin: 20px;
    }

    .term-register {
        align-items: center;
        justify-content: center;
    }

    .term-register a {
        margin-top: 5px;
        font-size: small;
    }

    .conta-register-container h1 {
        text-align: center !important;
        font-size: 2.2rem !important;
    }

    .conta-register-container {
        box-shadow: none;
    }

    .conta-register-section {
        overflow-x: visible;
    }

    .form-register {
        width: 100%;
    }

    h1,
    .register-button {
        margin-bottom: 24px;
    }

}

@media (min-width : 768px) {
    .form-register {
        width: 75%;
    }

    .conta-register-section {
        margin: 80px 110px;

    }

    body {
        background-color: #E6F7F7;
    }


    .logo {
        margin: 40px;
        left: 0;
    }

    .conta-register-container form+p,
    h1 {
        width: 90%;
        text-align: center;
    }

    h1,
    .register-button {
        margin-bottom: 40px;
    }
}

@media (max-width : 1100px) {
    .content-img-register {
        grid-template-columns: 100%;
    }
}

@media (min-width : 1100px) and (max-width: 1347px) {
    .content-img-register {
        grid-template-columns: 50% 50%;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 14px;
    width: 100%;
}

label {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-control {
    height: 54px;
    margin-top: 0;
    padding: 16px;
    box-sizing: border-box;
    opacity: 1;
    border-radius: 5px;
    border: solid 1px rgb(207, 218, 225);
    font-size: 1rem;
}

input:hover {
    border: solid 1px #00acac;
}

input:focus {
    outline: none;
    border-color: #00acac;
    box-shadow: rgba(67, 71, 85, 0.27) 0 0 0.25em, rgba(90, 125, 188, 0.05) 0 0.25em 1em;
}

.register-button {
    padding: 14px 24px;
    margin-top: 14px;
    width: 100%;
    gap: 6px;
    background: linear-gradient(#00acac 0, #00acac 100%);
    color: white;
    opacity: 1;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}

.register-button:hover,
.register-button:focus {
    background: linear-gradient(#00a1a1 0, #00a1a1 100%);
}

.register-button:focus {
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
}

.conta-register-container p {
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: #5F666C
}

.login-error-message {
    display: none;
    font-size: 1rem;
    padding: 4px 0;
    box-sizing: border-box;
    opacity: 1;
    transition: border-color 0.3s;
    font-weight: 400;
    border-top: solid 2px #f64c3c;
    margin: -4px 1px 0 1px;
    color: #f64c3c;
}

.spinner {
    display: none;
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    margin-left: 12px
}

.modal-contact {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    transform: translate(0, 50%);
    padding: 20px;
    border: 1px solid #888;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1rem;
    align-items: center;
}

.contact-button {
    padding: 10px 24px;
    gap: 8px;
    background: #1B7EDA;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-top: auto;
    border-radius: 8px;
    border: none;
}

.contact-button:hover {
    color: white;
    background: #165694;
    transition: background ease-in 100ms;
}

.copy {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.copy img {
    margin-bottom: 15px;
}

.logo {
    position: absolute;
    max-width: 100px;
    top: 0;
    z-index: 1;
}

@ -webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100 % {
        -webkit-transform: rotate (270deg);
        transform: rotate (270deg);
    }
}

@ keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100 % {
        -webkit-transform: rotate (270deg);
        transform: rotate (270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    stroke: #fff;
    background-image: linear-gradient(-20deg, #0f5da6 0, #0f5da6 100%);
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite;
}

@ -webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50 % {
        stroke-dashoffset: 46 .75;
        -webkit-transform: rotate (135deg);
        transform: rotate (135deg);
    }

    100 % {
        stroke-dashoffset: 187;
        -webkit-transform: rotate (450deg);
        transform: rotate (450deg);
    }
}

@ keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50 % {
        stroke-dashoffset: 46 .75;
        -webkit-transform: rotate (135deg);
        transform: rotate (135deg);
    }

    100 % {
        stroke-dashoffset: 187;
        -webkit-transform: rotate (450deg);
        transform: rotate (450deg);
    }
}